<div class="container my-5" id="content">
    <div class="row" ng-show="!inProgess">
        <div class="col text-center" style="margin-top: 50px;">
            <button class="btn btn-primary" ng-click="start()">Start the Quiz</button>
        </div>
    </div>


    <div class="row" ng-show="quizover">
        <div class="col text-center" style="margin-top: 50px;">
            <button class="btn btn-primary" ng-click="reset()">Play Reset</button>
        </div>
    </div>

    <div ng-show="inProgess">
        <div ng-show="!quizover">
            <div class="row">
                <div class="col text-center">
                    <h2>
                        <div id="countdown" class="text-center">
                            <span id="minutes"></span>:<span id="seconds"></span>
                        </div>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card border-info">
                        <div class="card-header text-white" style="background-color: #23B5E1;">
                            <img src="images/logos/JAAV.png" width="30" class="border border-primary rounded-lg" alt="">
                            <span>{{subname}}</span>
                            <span class="float-right badge badge-dark" style="padding: .28em .7em;">{{sl}}/10</span>
                        </div>
                        <div class="card-body">

                            <div class="card-text" style="font-weight: 500;">
                                <label for="">{{question}}</label>
                                <hr>
                                <div class="form-check" ng-repeat="option in opstion">

                                    <label class="form-check-label" for="Radios1">
                                        <input class="form-check-input" type="radio" name="answer"
                                            value="{{option.id}}">
                                        {{option.text}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div ng-show="answerMode">
                                <button class="btn btn-primary" ng-click="checkanswer()">Submit</button>
                            </div>
                            <div ng-show="!answerMode">
                                <button class="btn btn-primary" ng-click="next()">Next</button>
                                <span ng-show="correctAns">Đúng</span>
                                <span ng-show="!correctAns">Sai</span>
                            </div>
                            <span class="badge badge-success"
                                style="padding: .28em .7em; font-size: 90%; font-weight: 500; float: right;">Điểm:
                                {{score}}/10</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>